= simple_form_for [:admin, @teacher] do |f|
  = f.error_notification
  = f.input :email
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, class: 'btn btn-outline-success'
