%h1 Listing teachers

%table
  %thead
    %tr
      %th Name
      %th Email
      %th
      %th
      %th
      %th

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.name
        %td= teacher.email
        %td= link_to 'Destroy', [:admin, teacher], method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to '代理ログイン', [:admin, teacher]

%br

= link_to 'New Teacher', new_admin_teacher_path
