%h1 予約済みレッスン
%table.table.table-striped
  %thead
    %tr
      %th ユーザー名
      %th 日時
      %th 言語
      %th zoom URL
      %th
  %tbody
    - @lesson_reservations.each do |lesson_reservation|
      %tr
        %td= lesson_reservation.lesson.user.name
        %td= h_lesson_datetime(lesson_reservation.lesson)
        %td= lesson_reservation.lesson.language.name
        %td
          %a{ href: lesson_reservation.zoom_url}= lesson_reservation.zoom_url
        %td
          - if lesson_reservation.lesson.end_at < Time.now
            = link_to 'フィードバック', teacher_lesson_reservation_feedbacks_path(lesson_reservation), class: 'btn btn-outline-primary'
            = link_to '申し送り', '#', class: 'btn btn-outline-primary'