= form_for [:teacher, @lesson] do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :language
    = f.collection_select :language_id, current_teacher.languages, :id, :name, {}
  .field
    = f.label :start_at
    = f.datetime_field :start_at, step: 3600
  .actions
    = f.submit 'Save'
