%h1 レッスン枠一覧

= link_to 'レッスン枠登録', new_teacher_lesson_path, class: 'btn btn-outline-primary'
%table.table.table-striped.mt-3
  %thead
    %tr
      %th 言語
      %th 開始日時
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.language.name
        %td= h_lesson_datetime(lesson)
        %td
          - if lesson.lesson_reservation.present?
            %p.badge.badge-success 予約済み
          - else
            = link_to '編集', edit_teacher_lesson_path(lesson), class: 'btn btn-outline-primary'
            = link_to '削除', [:teacher, lesson], method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-outline-danger'
