%h1 申し送り事項一覧

= link_to '新規登録', new_teacher_lesson_reservation_notification_path(@lesson_reservation), class: 'btn btn-outline-primary'
%table.table.table-striped.mt-3
  %thead
    %th 内容
    %th 登録日時
    %th
  %tbody
    - @notifications.each do |notification|
      %tr
        %td= simple_format(notification.body)
        %td= notification.created_at.strftime('%Y/%m/%d %H:%M:%S')
        %td
          = link_to '編集',
                    edit_teacher_lesson_reservation_notification_path(@lesson_reservation, notification),
                    class: 'btn btn-outline-primary'
          = link_to '削除',
                    teacher_lesson_reservation_notification_path(@lesson_reservation, notification),
                    method: :delete,
                    class: 'btn btn-outline-danger',
                    data: { confirm: '削除しますか？' }

= link_to '戻る', teacher_lesson_reservations_path, class: 'btn btn-outline-secondary'
