%h1 予約済みレッスン

%table.table.table-striped
  %thead
    %tr
      %th 講師
      %th 言語
      %th 日時
      %th zoom URL
      %th

  %tbody
    - @lesson_reservations.each do |lesson_reservation|
      %tr
        %td.align-middle
          - if lesson_reservation.lesson.teacher.avatar.present?
            = link_to lesson_reservation.lesson.teacher.avatar.url do
              = image_tag lesson_reservation.lesson.teacher.avatar.thumb.url, class: "img-thumbnail"
          = lesson_reservation.lesson.teacher.name
        %td.align-middle= lesson_reservation.lesson.language.name
        %td.align-middle= h_lesson_datetime(lesson_reservation.lesson)
        %td.align-middle
          %a{ href: lesson_reservation.zoom_url}= lesson_reservation.zoom_url
        %td.align-middle
          - if lesson_reservation.feedbacks.present?
            = link_to 'フィードバック', lesson_reservation_feedbacks_path(lesson_reservation), class: 'btn btn-outline-primary'