%p#notice= notice

%p
  %b Lesson:
  = @lesson_reservation.lesson
%p
  %b User:
  = @lesson_reservation.user

= link_to 'Edit', edit_lesson_reservation_path(@lesson_reservation)
\|
= link_to 'Back', lesson_reservations_path
