= search_form_for @q,
  wrapper: :horizontal_form,
  wrapper_mappings: {datetime: :horizontal_form, } do |f|
  = f.input :teacher_name_eq, collection: Teacher.all, label_method: :name, value_method: :name, required: false
  = f.input :language_name_eq, collection: Language.all, label_method: :name, value_method: :name, required: false
  = f.input :start_at_gteq, as: :datetime, required: false, html5: true
  = f.input :start_at_lt, as: :datetime, required: false, html5: true
  .form-group.row
    .col-sm-9.offset-sm-3
      = f.button :submit, class: "btn-outline-primary"

%table.table.table-striped.mt-4
  %thead
    %tr
      %th 講師
      %th レッスン言語
      %th 日時
      %th
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.teacher.name
        %td= lesson.language.name
        %td= h_lesson_datetime(lesson)
        %td
          = form_for LessonReservation.new do |f|
            = f.hidden_field :lesson_id, value: lesson.id
            = f.button '予約', data: { confirm: "予約を確定しますか？"}, class: 'btn btn-outline-success'