= search_form_for @q do |f|
  = f.label :teacher_name_eq
  = f.collection_select :teacher_name_eq, Teacher.all, :name, :name, { include_blank: true }
  %br/
  = f.label :language_name_eq
  = f.collection_select :language_name_eq, Language.all, :name, :name, { include_blank: true }
  %br/
  = f.label :start_at_gteq
  = f.datetime_field :start_at_gteq, step: 3600
  %br/
  = f.label :start_at_lt
  = f.datetime_field :start_at_lt, step: 3600
  %br/
  = f.submit

%table
  %thead
    %tr
      %th 講師
      %th レッスン言語
      %th 日時
      %th
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.teacher.name
        %td= lesson.language.name
        %td
          = lesson.start_at.strftime("%Y/%m/%d %H:%M")
          ～
          = lesson.end_at.strftime("%H:%M")
        %td
          = form_for LessonReservation.new do |f|
            = f.hidden_field :lesson_id, value: lesson.id
            = f.button '予約', data: { confirm: "予約を確定しますか？"}