= search_form_for @q,
  wrapper: :horizontal_form,
  wrapper_mappings: {datetime: :horizontal_form, } do |f|
  = f.input :teacher_name_eq, collection: Teacher.all, label_method: :name, value_method: :name, required: false, label: '講師'
  = f.input :language_name_eq, collection: Language.all, label_method: :name, value_method: :name, required: false, label: '言語'
  .form-group.row
    .col-sm-3.col-form-label
      = f.label '開始日時'
    .col-sm
      = f.datetime_field :start_at_gteq, class: 'form-control'
    .col-form-label
      ～
    .col-sm
      = f.datetime_field :start_at_lteq, class: 'form-control'
  .form-group.row
    .col-sm-9.offset-sm-3
      = f.button :submit, class: "btn-outline-primary"

%table.table.table-striped.mt-4
  %thead
    %tr
      %th 講師
      %th レッスン言語
      %th 日時
      %th
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td.align-middle
          - if lesson.teacher.avatar.present?
            = link_to lesson.teacher.avatar.url do
              = image_tag lesson.teacher.avatar.thumb.url, class: "img-thumbnail"
          = lesson.teacher.name
        %td.align-middle= lesson.language.name
        %td.align-middle= h_lesson_datetime(lesson)
        %td.align-middle
          = form_for LessonReservation.new do |f|
            = f.hidden_field :lesson_id, value: lesson.id
            = f.button '予約', data: { confirm: "予約を確定しますか？"}, class: 'btn btn-outline-success'