%h2 残チケット数
%p= "残チケット数は #{@lesson_tickets.count} 枚です。"

%h2 チケット購入

.row
  .col-4
    .card.text-center
      .card-header
        チケット1枚
      .card-body
        %p.card-text 2,000 円（税抜）
        = link_to '購入', new_charge_path(amount: 1), remote: true, class: 'btn btn-block btn-primary'
  .col-4
    .card.text-center
      .card-header
        チケット3枚
      .card-body
        %p.card-text 5,000 円（税抜）
        = link_to '購入', new_charge_path(amount: 3), remote: true, class: 'btn btn-block btn-primary'
  .col-4
    .card.text-center
      .card-header
        チケット5枚
      .card-body
        %p.card-text 7,500 円（税抜）
        = link_to '購入', new_charge_path(amount: 5), remote: true, class: 'btn btn-block btn-primary'
