= simple_form_for @teacher, url: teacher_update_path do |f|
  = f.input :name
  = f.input :profile, as: :text
  = f.input :avatar, as: :image_preview, input_html: { preview_version: :thumb }
  = f.input :language_ids, collection: @languages, label_method: :name, value_method: :id, input_html: { multiple: true }
  = f.button :submit, '更新する', class: 'btn btn-outline-success'