%nav.navbar.navbar-expand.navbar-dark.fixed-top.bg-dark
  .container
    = link_to '外国語レッスン', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to 'チケット購入', items_path, class: "nav-link #{h_active(items_path)}"
        %li.nav-item
          = link_to 'レッスン予約', lessons_path, class: "nav-link #{h_active(lessons_path)}"
        %li.nav-item
          = link_to '予約済みレッスン一覧', lesson_reservations_path, class: "nav-link #{h_active(lesson_reservations_path)}"
      %ul.navbar-nav.ml-auto
        %li.nav-item.dropdown
          %a#usermenu.nav-link.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}} メニュー
          .dropdown-menu.dropdown-menu-right{aria: {labelledby: 'usermenu'}}
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item'
