!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 外国語レッスン
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://js.stripe.com/v3/' }
  %body{style: 'padding-top: 5rem;'}
    - if teacher_signed_in? && request.url.include?(root_url + 'teacher')
      = render 'layouts/teacher_navbar'
    - elsif admin_signed_in? && request.url.include?(root_url + 'admin')
      = render 'layouts/admin_navbar'
    - elsif user_signed_in?
      = render 'layouts/user_navbar'
    .container
      .row
        .col
          - flash.each do |key, value|
            - type = key == 'notice' ? 'info' : 'danger'
            %div{class: "alert alert-#{type}"}
              = value
              %button.close{type: 'button', data: {dismiss: 'alert'}, aria: {label: 'Close'}}
                %span{aria: {hidden: 'true'}} &times;
          = yield
